@import '../style.css';
@media screen and (min-width: 279px) {
  /*! header */
  .container {
    min-width: 275px;
    padding-left: 4.5px;
    padding-right: 4.5px;
  }
  .header-nav {
    display: none;
  }
  .header-btn {
    margin-left: auto;
  }
  .header-btn li {
    padding: 15px 7.5px 22px 7.5px;
  }
  .header-btn li:last-child {
    margin-left: 15px;
  }
  .header-logo {
    margin-left: -12px;
  }
  .container.header {
    display: flex;
    align-items: center;
  }

  .header-logo {
    display: block;
  }

  .header-btn {
    display: flex;
    align-items: end;
  }

  .header-btn button {
    background-color: transparent;
    border: none;
  }

  /*! header */

  /*! header */
}
