@import '../style.css';

@media screen and (min-width: 279px) {
  /*? hero */
  .hero > img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .container.hero {
    margin-top: 24px;
  }
  .hero {
    background: linear-gradient(
      90deg,
      rgba(248, 247, 246, 1) 50%,
      rgba(255, 255, 255, 1) 50%
    );
  }
  .hero-descr {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-link {
    margin-top: 20px;
  }
  .link-span {
    padding-left: 20px;
  }
  /*? hero */
}
