@import './style.css';

@media screen and (min-width: 279px) {
  .text {
    line-height: 2;
  }
  /*.img-wrapper {
    max-width: 450px;
    margin: 0 auto;
  }
  .img-wrapper img{
    width: 100%;
  } */

  .bg-color {
    background-color: #f8f7f6;
  }
  .section.two {
    padding-top: 80px;
  }
  .section:nth-child(n + 3) {
    padding-top: 100px;
  }
  h1,
  h2 {
    font-size: 30px;
    letter-spacing: 1.44px;
    line-height: 1.13;
  }

  .down-link-styles {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.48px;
  }
  .link-line::after {
    content: '';
    margin-top: 8px;
    display: block;
    width: 195px;
    height: 1px;
    background-color: black;
  }
  .link-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*! header */
  .container {
    min-width: 275px;
    padding-left: 4.5px;
    padding-right: 4.5px;
  }
  .header-nav {
    display: none;
  }
  .header-btn {
    margin-left: auto;
  }
  .header-btn li {
    padding: 15px 7.5px 22px 7.5px;
  }
  .header-btn li:last-child {
    margin-left: 15px;
  }
  .header-logo {
    margin-left: -12px;
  }

  /*! header */

  /*? hero */
  .hero > img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .container.hero {
    margin-top: 24px;
  }
  .hero {
    background: linear-gradient(
      90deg,
      rgba(248, 247, 246, 1) 50%,
      rgba(255, 255, 255, 1) 50%
    );
  }
  .hero-descr {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-link {
    margin-top: 20px;
  }
  .link-span {
    padding-left: 20px;
  }
  /*? hero */

  /* !second section  */
  .two-images-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
  }
  .two-container {
    margin-top: 32px;
  }
  .two-text {
    margin-top: 24;
  }

  .two-link {
    margin-top: 24px;
  }
  /* !second section  */

  /* ?third section  */
  .three-container {
    padding-top: 32px;
    padding-bottom: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f8f7f6;
  }
  .three-text {
    padding-top: 24px;
  }

  .three-link {
    margin-top: 24px;
  }
  /* ?third section  */

  /* !four section  */
  .container.four {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .four-list {
    display: flex;
    margin-top: 24px;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .four-list-item {
    width: 288px;
  }
  .four-list-item img {
    width: 100%;
  }
  .four-price {
    margin-top: 13px;
  }
  .price {
    color: var(--price-col);
    font-weight: var(--f-w-sB);
  }
  .four-list-descr {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.48px;
  }
  .four-link {
    margin-top: 32px;
  }
  /* !four section  */

  /* ?fiveth section  */
  .container.five {
    padding-top: 38;
    padding-bottom: 52;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 22px;
  }
  .five-img-wrap {
    margin-top: 20px;
  }
  /* ?fiveth section  */

  /*! footer */
  footer {
    padding-top: 45px;
    padding-bottom: 28px;
  }
  .footer-text {
    margin-bottom: 17px;
  }
  .footer-form {
    display: flex;
    margin-bottom: 43px;
    padding-bottom: 7px;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  .footer-input {
    background-color: transparent;
    border: none;
  }
  .footer-form-btn {
    border: none;
    background-color: transparent;
  }
  .copywrite {
    color: #adadad;
  }
  .footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 43px;
  }
  /*! footer */
}

@media screen and (min-width: 320px) {
  .container {
    min-width: 310px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
