@import './style.css';

@media screen and (max-width: 1140px) {
  h1,
  h2 {
    font-size: 30px;
  }

  .down-link-styles {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.48px;
  }
  /*! header */
  .container {
    min-width: 310px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-nav {
    display: none;
  }
  .header-btn {
    margin-left: auto;
  }
  .header-btn li {
    padding: 15px 7.5px 22px 7.5px;
  }
  .header-btn li:last-child {
    margin-left: 15px;
  }
  .header-logo {
    margin-left: -12px;
  }

  /*! header */

  /*? hero */
  .hero > img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .container.hero {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  /*? hero */
}
