@import './style.css';

@media screen and (max-width: 1140px) {
  /*! header */
  .container {
    max-width: 295px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .header-nav {
    display: none;
  }
  .header-btn {
    margin-left: auto;
  }
  .header-btn li {
    padding: 15px 7.5px 22px 7.5px;
  }
  .header-btn li:last-child {
    margin-left: 15px;
  }
  .header-logo {
    margin-left: -12px;
  }

  /*! header */

  /*? hero */
  .hero > img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  /*? hero */
}
